<div class="container">
  <div class="row text-center">
    <h1>File Cabinet</h1>
    <br>
    <h3>Your live's work! Organized, always.</h3>
    <%= image_tag('1.jpg', class:'img-responsive center-block')  %>

    <% if current_user %>
      <h1><%= link_to 'Enter', docs_path %></h1>
    <% else %>
      <h3>See more content sign up here | <%= link_to 'Join Now', new_user_registration_path  %> </h3>
    <% end %>   
  </div>
</div>
